.timer {
	background: rgba(220,220,220, 1);
}

.timer > .col-lg-3 {
	font-size: 20px;
	margin: auto;
}

h3{
	margin: auto;
}

.onename-search {
	position: relative;
	top: 25px;
}

#handlebars-output {
	position: relative;
	top: 25px;
}