
#header {
	background: rgb(255,135,0);
	margin-top: 0px;
	margin-bottom: 0px;
	height: 200px;
	color: white;
	text-align: center;
	padding-top: 70px;

}

.timer {
	background: rgba(220,220,220, 1);
}

.header {
	background: rgb(255, 135, 000);
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	height: 200px;
	padding-top: 70px;
}

.gbt-wrapper {
	background: black;
	color: white;
	height: 400px;
}

.gbt-time {
	width: 100%;
	padding-top: 150px;
	font-size: 75px;
}



#bitcoin {
	width: 75px;
}

 .btc {
	background: rgba(220,220,220, 1);
	padding-top: 20px;
	padding-bottom: 20px;
	

}

.btc > .col-lg-3 {
	font-size: 20px;
	margin: auto;
}


h3{
	margin: auto;
}

.onename-search {
	position: relative;
	top: 25px;
	left: 20px;
}

#handlebars-output {
	position: relative;
	top: 45px;
	left: 25px;
}

.amount {
	font-size: 25px;
}


h2 {
	margin-top: 0px;
}

.currency {
	font-size: 30px;
}

@media(max-width: 700px){
	.currency {
	font-size: 60px;
	}
}

.bst {
	font-size: 25px;
}

@media(max-width: 700px){
	.bst {
	font-size: 60px;
	}
}


.search {
	background: gray;
	padding-bottom: 20px;
}

.onename-input {
	margin-left: 20px;
	margin-top: 20px;
}

#handlebars-output {
	font-size: 25px;
	margin-top: 25px;
	padding-left: 20px;
	padding-top: 20px;
	background: gray;
}